<!DOCTYPE html>
<html>
   <head>


      <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js">  </script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
      <script src="app.js"></script>

      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
      <link rel="stylesheet" href="stylesheets/main.css">
   </head>
   <h1 text-align: center;
      style= "text-align:center;" class="airbnb">AirBnB
   </h1>
   <body >
   <div class="well">
   <h3>Populairty Index:</h3>
        <div class="row" style="margin:30px;">
         <div class="col-md-2">
            <img class="icon" src="images/100hd.png" width="60" height="60">
         </div>

         <div class="col-md-2">
            <img class="icon" src="images/90hd.png" width="60" height="60">
         </div>

         <div class="col-md-2">
            <img class="icon" src="images/80.png" width="60" height="60">
         </div>
         
         <div class="col-md-2">
            <img class="icon" src="images/70.png" width="60" height="60">
         </div>
      </div>
      <div id="indexTheme" style="margin:30px;">
      <h4>Each index is calculated by considering the following factors: </h4>
         <button class="btn btn-primary" type="button">
           Price <span class="badge"><span class="glyphicon glyphicon-usd">
         </span></span>
         </button>

         <button class="btn btn-primary" type="button">
           Reviews <span class="badge"> <span class=" glyphicon glyphicon-pencil"> 
         </span></span>
         </button>

         <button class="btn btn-primary" type="button">
           Host Autheniticity <span class="badge"><span class=" glyphicon glyphicon-user"> 
         </span></span>
         </button>
         
         <button class="btn btn-primary" type="button">
           Listing Details <span class="badge"> <span class=" glyphicon glyphicon-home"> 
         </span></span>
         </button>
         <button class="btn btn-primary" type="button">
           Easibility <span class="badge"> <span class="glyphicon glyphicon-thumbs-up"> 
         </span></span>
         </button>  
      </div>
      </div>

      <div class="row">

      <div class="col-md-7">
         <div id="map">
         <iframe width="600" height="400" src="https://amratakasture-dataanalytics.shinyapps.io/DA_Proj/" style="margin-left:100px">
         </iframe>
         </div>
      </div>
      <div class="col-md-5">
         Please enter the Listing  ID:
         <input id="listingId"/>
         <button id = "listingSubmit" class="btn btn-primary" type="button">Continue</button>
      </div>
      </div>
      <div id="footer">
         <style>
            #footer {
            background-color:#FF5A5F;
            color:white;
            clear:both;
            text-align:center;
            padding:15px; 
            }
         </style>
      </div>
   </body>

</html>