<html>
   <head>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js">  </script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
       <script type="text/javascript" src="/app.js"></script>

      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
      <link rel="stylesheet" href="/stylesheets/main.css">
      <script>
         $(document).ready(function() {

            var url = window.location.href.split("/");
            var listingId = url[url.length-1];

            $("#listingId").html("<h4 style='text-align: center;'>Listing ID: " + listingId + "</h4>");

         });
      </script>

   </head>
   <body>
      <h1 text-align: center;
         style= "text-align:center;" class="airbnb">
         AirBnB
      </h1>
      <button class="btn btn-primary" id="backButton" style='margin-left:30px;' >Back</button>
      <button class="btn btn-success" id="airBnbView">View on AirBnB </button>

      <span id="listingId"></span>
      <br> <br>


      <div style="margin-left:300px;">
      <iframe src="https://docs.google.com/a/west.cmu.edu/forms/d/1ZXW5Cr4tz1DsZPAMpJapM3UafJR6EK0UepkL4oEUAKw/viewform?embedded=true" width="760" height="500" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
      </div>
      <br>

      <!-- div id="personalDetails" style="padding:30px;">
         <h2>Personal Information</h2>
            First name:<br>
            <input type="text" id="firstname">
            <br><br>
            Last name:<br>
            <input type="text" id="lastname">
            <br><br>
            Age:<br>
            <input type="number" id="age">
            <br><br>
            <p> Please select your traveller type</p>
            <input type="radio" name="travellerType" value="Student" checked> Student<br>
            <input type="radio" name="travellerType" value="Working"> Working Professional<br>
            <input type="radio" name="travellerType" value="Family"> Family<br>
            <input type="radio" name="travellerType" value="other"> Other  
            <br><br>
            Number of Guests:<br>
            <input type="number"  id="numberOfGuests">
            <br><br>
            <p>Please rank your preferences: </p>
            Private Room:
            <input type="radio" name="privateRoom" value="1" style="margin-left:10px;"> 1
            <input type="radio" name="privateRoom" value="2" style="margin-left:10px;"> 2
            <input type="radio" name="privateRoom" value="3" style="margin-left:10px;"> 3
            <input type="radio" name="privateRoom" value="3" style="margin-left:10px;"> 4
            <br>
            Cleanliness:
            <input type="radio" name="cleanliness" value="1" style="margin-left:10px;"> 1
            <input type="radio" name="cleanliness" value="2" style="margin-left:10px;"> 2
            <input type="radio" name="cleanliness" value="3" style="margin-left:10px;"> 3
            <input type="radio" name="cleanliness" value="4" style="margin-left:10px;"> 4
            <br>
            Location:
            <input type="radio" name="locationPreference" value="1" style="margin-left:10px;"> 1
            <input type="radio" name="locationPreference" value="2" style="margin-left:10px;"> 2
            <input type="radio" name="locationPreference" value="3" style="margin-left:10px;"> 3
            <input type="radio" name="locationPreference" value="4" style="margin-left:10px;"> 4
            <br>
            Price:
            <input type="radio" name="price"  value="1" style="margin-left:10px;"> 1
            <input type="radio" name="price" value="2" style="margin-left:10px;"> 2
            <input type="radio" name="price" value="3" style="margin-left:10px;"> 3
            <input type="radio" name="price" value="4" style="margin-left:10px;"> 4
            <br><br>
            <button id="personalDetailsSubmit" class="btn btn-primary">Continue</button>
            <br><br>
      </div> -->

      <div id="footer">
         <style>
            #footer {
            background-color:#FF5A5F;
            color:white;
            clear:both;
            text-align:center;
            padding:15px; 
            #stretchedButton1 {
            display:inline-block;
            min-width: 50px;
            width: 100%;
            padding:5px 10px;
            }
         </style>
      </div>
   </body>
</html>