<html>
   <head>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js">  </script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
      <script src="app.js"></script>

      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
      <link rel="stylesheet" href="stylesheets/main.css">
   </head>
   <body>
      <h1 text-align: center;
         style= "text-align:center;" class="airbnb">
         AirBnB
      </h1>
      <h2>Personal Information</h2>
      <div id="personalDetails" style="padding:30px;">
            First name:<br>
            <input type="text" name="firstname">
            <br><br>
            Last name:<br>
            <input type="text" name="lastname">
            <br><br>
            Age:<br>
            <input type="number" name="age">
            <p> Please select your traveller type</p>
            <input type="radio" name="travellerType" value="Student" checked>      Student<br>
            <input type="radio" name="travellerType" value="Working"> Working Professional<br>
            <input type="radio" name="travellerType" value="Family"> Family<br>
            <input type="radio" name="travellerType" value="other"> Other  
            <br><br> 
            Reason for visit:<br>
            <input type="text" name="visitReason">
            <br><br>
            Number of Guests:<br>
            <input type="number" name="numberofGuests">
            <br><br>
            Number of rooms required:<br>
            <input type="number" name="numberOfRooms">
            <br><br>
            Number of nights:<br>
            <input type="number" name="nights">
            <br>
            <br><br>
            <button id="personalDetailsSubmit" class="btn btn-primary">Continue</button>
            <br><br>
      </div>
      <br>

      <div id="footer">
         <style>
            #footer {
            background-color:#FF5A5F;
            color:white;
            clear:both;
            text-align:center;
            padding:15px; 
            #stretchedButton1 {
            display:inline-block;
            min-width: 50px;
            width: 100%;
            padding:5px 10px;
            }
         </style>
      </div>
   </body>
</html>